<div class="container about">
  <h1>Hey! I'm <span class="about-bold">Kyle Frisbie</span>,</h1>
    <br> <img src="http://i.imgur.com/7G6u2sVm.jpg" alt="Willy Wonka" class="about-portrait img-responsive"></span>
  <span class="about-small">and I'm an aspiring software developer trying to find my place in this computer world.
    I am currently perusing my degree in <span class="about-italic">Computer Science</span>
    from <span class="about-italic">Metropolitan State University of Denver</span>.
    I'm interested in developing applications for web, mobile, and algorithmic efficiency. Check out my blog to stay current on what I’m doing and
    to see the cool new things I've been working on as <span class="about-italic">I forge my path from apprentice</span> to <span class="about-italic">master.</span></span>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 tales-superblock">
      <h2>Social</h2>
      <div class="social-icons clearfix">
        <a href="https://github.com/KyleFrisbie" class="social-icon color-one">
          <div class="inner-circle"></div>
          <i class="fa fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/kylelfrisbie" class="social-icon color-two">
          <div class="inner-circle"></div>
          <i class="fa fa-linkedin"></i>
        </a>

        <a href="https://twitter.com/KyleLaneFrisbie" class="social-icon color-three">
          <div class="inner-circle"></div>
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
  <hr>
</div>