<p id="notice"><%= notice %></p>
<% breadcrumb :tags %>
<h1>Tags</h1>

<div class="body clearfix">
  <ul class="tags">
    <% @tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), id: tag, class: "btn btn-default" %>
    <% end %>
  </ul>
</div>
